workflow1.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        368
      ],
      "id": "f13e3293-5e80-4948-88af-0075d87ca269",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "includeTime": false,
        "options": {
          "timezone": "Asia/Manila"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        224,
        208
      ],
      "id": "14a4b519-f8ef-4ede-a8d0-12659d951f8c",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tess-scraper.collectgreatstories.com/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "startDate",
              "value": "={{ $json.startDate }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.endDate }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        208
      ],
      "id": "dd076648-111a-45ca-88df-83254dd5d9b1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1552,
        208
      ],
      "id": "fc54b62f-f917-4a24-bb03-da3640532880",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 9,24 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        80
      ],
      "id": "6311947e-9885-41d7-9955-fda6261191c6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Get the timestamp from \"Schedule Trigger\"\nconst scheduleTimestamp = $('Schedule Trigger').first().json.timestamp;\n// Normalize to date-only (ignore time portion to avoid timezone issues)\nconst datePortion = scheduleTimestamp.split('T')[0]; // e.g. \"2025-08-25\"\nconst currentDate = new Date(datePortion + 'T00:00:00'); // local midnight\n// Extract day, month, year\nconst currentDay = currentDate.getDate();\nconst currentMonth = currentDate.getMonth(); // 0-based\nconst currentYear = currentDate.getFullYear();\nlet outputItems = [];\nif (currentDay === 9) {\n  // If current date is 9th, get 16th and last day of previous month\n  const previousMonth = new Date(currentYear, currentMonth - 1, 1);\n  // 16th of previous month\n  const sixteenthPrevMonth = new Date(previousMonth.getFullYear(), previousMonth.getMonth(), 16);\n  // Last day of previous month\n  const lastDayPrevMonth = new Date(currentYear, currentMonth, 0);\n  outputItems = [\n    {\n      json: {\n        startDate: `${(sixteenthPrevMonth.getMonth() + 1).toString().padStart(2, '0')}/${sixteenthPrevMonth.getDate().toString().padStart(2, '0')}/${sixteenthPrevMonth.getFullYear()}`,\n        endDate: `${(lastDayPrevMonth.getMonth() + 1).toString().padStart(2, '0')}/${lastDayPrevMonth.getDate().toString().padStart(2, '0')}/${lastDayPrevMonth.getFullYear()}`,\n        description: \"16th of previous month to last day of previous month\",\n        type: \"date_range\"\n      }\n    }\n  ];\n} else if (currentDay === 24) {\n  // If current date is 24th, get 1st and 15th of current month\n  const firstOfMonth = new Date(currentYear, currentMonth, 1);\n  const fifteenthOfMonth = new Date(currentYear, currentMonth, 15);\n  outputItems = [\n    {\n      json: {\n        startDate: `${(firstOfMonth.getMonth() + 1).toString().padStart(2, '0')}/${firstOfMonth.getDate().toString().padStart(2, '0')}/${firstOfMonth.getFullYear()}`,\n        endDate: `${(fifteenthOfMonth.getMonth() + 1).toString().padStart(2, '0')}/${fifteenthOfMonth.getDate().toString().padStart(2, '0')}/${fifteenthOfMonth.getFullYear()}`,\n        description: \"1st to 15th of current month\",\n        type: \"date_range\"\n      }\n    }\n  ];\n} else {\n  // Handle other dates - default case\n  outputItems = [\n    {\n      json: {\n        date: `${(currentMonth + 1).toString().padStart(2, '0')}/${currentDay.toString().padStart(2, '0')}/${currentYear}`,\n        description: \"Current date (no special logic applied)\",\n        type: \"default\"\n      }\n    }\n  ];\n}\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ],
      "id": "29d54ed7-ad26-4183-a840-c35f700f2920",
      "name": "10 and 25"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app4coqVaQgh2CO90",
          "mode": "list",
          "cachedResultName": "Travel Byrds",
          "cachedResultUrl": "https://airtable.com/app4coqVaQgh2CO90"
        },
        "table": {
          "__rl": true,
          "value": "tblvaz8fjBy61oXPw",
          "mode": "list",
          "cachedResultName": "TESS Bookings",
          "cachedResultUrl": "https://airtable.com/app4coqVaQgh2CO90/tblvaz8fjBy61oXPw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agent Name": "={{ $json['Agent Name'] }}",
            "Client Name": "={{ $json['Client Name'] }}",
            "Trip Description": "={{ $json['Trip Description'] }}",
            "Booking Number": "={{ $json['Booking Number'] }}",
            "Booking Status": "={{ $json['Booking Status'] }}",
            "Booking Description": "={{ $json['Booking Description'] }}",
            "Tour Operator": "={{ $json['Tour Operator'] }}",
            "Booking Date": "={{ $json['Booking Date'] }}",
            "Booking Start Date": "={{ $json['Booking Start Date'] }}",
            "Booking End Date": "={{ $json['Booking End Date'] }}",
            "Package Price": "={{$json['Package Price']}}",
            "Commission Projected": "={{$json['Commission Projected']}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Agent Name",
              "displayName": "Agent Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Trip Description",
              "displayName": "Trip Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booking Number",
              "displayName": "Booking Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booking Status",
              "displayName": "Booking Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                },
                {
                  "name": "Active",
                  "value": "Active"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booking Description",
              "displayName": "Booking Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tour Operator",
              "displayName": "Tour Operator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booking Date",
              "displayName": "Booking Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booking Start Date",
              "displayName": "Booking Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booking End Date",
              "displayName": "Booking End Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Package Price",
              "displayName": "Package Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Commission Projected",
              "displayName": "Commission Projected",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1984,
        208
      ],
      "id": "f7c4a681-18eb-41f1-a7f2-6812e0e30eef",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "HIM0jZbPih2Dt8We",
          "name": "TravelByrds"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        208
      ],
      "id": "43b0c280-a568-4c1d-82cd-1a42cbc9e68b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2208,
        288
      ],
      "id": "6f005e34-e2f2-4df4-8679-e8de5c64f2bc",
      "name": "Wait",
      "webhookId": "58b03f06-32d8-41de-b8ca-c8cd977bb47a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1984,
        0
      ],
      "id": "8fafa884-bf5e-41bf-b080-567b6eef2b45",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.zapier.com/hooks/catch/22009606/u3ghup7",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $('Date & Time1').item.json.currentDate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        0
      ],
      "id": "c01dbd9f-1750-4d35-837c-8aed8a0a35ad",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Date & Time').item.json.currentDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2208,
        0
      ],
      "id": "58b1b7a7-92ea-4f65-8c47-cc2f975474ff",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2330f8b-4876-4d36-a05a-b3e8a809e0bb",
              "name": "rows",
              "value": "={{JSON.stringify($json.rows) }}",
              "type": "array"
            },
            {
              "id": "cab1a78e-833f-4d54-8165-2e574ecd3ec0",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        208
      ],
      "id": "e7460562-9b9c-4aef-85a1-be2e8b4d2afa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tpisubmit.collectgreatstories.com/trigger-bot-async",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.rows }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        208
      ],
      "id": "921b9555-863c-434b-955a-cee8f29d75ab",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f743373-9e17-4154-97c6-f40bbe72eeed",
              "name": "rows",
              "value": "={{ $('Edit Fields').item.json.rows }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        208
      ],
      "id": "c10c738b-dac6-4285-b48c-e1fd1e2647a6",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "10 and 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 and 25": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {}
    ],
    "Date & Time": [
      {
        "currentDate": "2026-01-09T00:00:00.000+08:00"
      }
    ],
    "Schedule Trigger": [
      {
        "timestamp": "2026-01-09T16:35:39.136+08:00",
        "Readable date": "January 12th 2026, 4:35:39 pm",
        "Readable time": "4:35:39 pm",
        "Day of week": "Monday",
        "Year": "2026",
        "Month": "January",
        "Day of month": "12",
        "Hour": "16",
        "Minute": "35",
        "Second": "39",
        "Timezone": "Asia/Manila (UTC+08:00)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05a0005c78461dcf8f562c3e45229aaee34dec5d672d6f89d6620a535e8114a3"
  }
}